# ACID RADIO - Developed by acidvegas in Python (https://git.supernets.org/acidvegas/acid-radio)
# acid-radio/bot/.env.example

NICKSERV_PASSWORD=changeme
SPOTIFY_CLIENT_ID=changeme
SPOTIFY_CLIENT_SECRET=changeme